
.slider-button {
	--mantine-color-default-border: var(--mantine-color-dark-4) !important;
	background-color: #2e2e2e;

	&:hover {
		background-color: var(--mantine-color-dark-4);
	}
}

:where([data-mantine-color-scheme='light']) .slider-button {
	color: var(--mantine-color-text);
	--mantine-color-default-border: var(--mantine-color-gray-2) !important;
	background-color: var(--mantine-color-gray-0);

	&:hover {
		color: var(--mantine-color-text);
		background-color: var(--mantine-color-gray-3);
	}
}
