@import './mantine';
@tailwind components;
@tailwind utilities;

html {
	@apply h-full;

	display: flex;
	justify-content: center;
}

body {
	@apply h-full;

	width: 100%;
}

div#__next {
	@apply h-full;
}

main {
	@apply h-full;
}

.image-pixelated {
	image-rendering: pixelated;
}

.texture-background {
	background-color: rgb(0 0 0 / 20%);
}

:where([data-mantine-color-scheme='light']) .texture-background {
	background-color: var(--mantine-color-gray-1);
}

.image-background {
	background-color: var(--mantine-color-dark-7);
}

:where([data-mantine-color-scheme='light']) .image-background {
	background-color: var(--mantine-primary-color-1);
}

.navbar-icon-fix {
	--size: 36px;

	max-width: var(--size);
	max-height: var(--size);
	min-width: var(--size) !important;
	min-height: var(--size);
	width: var(--size) !important;
	height: var(--size) !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropzone-disabled {
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
	border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
	cursor: not-allowed;

	& * {
		color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
	}
}

.button-disabled {
	&:disabled,
	&[data-disabled] {
		background-color: transparent;
	}
}

:where([data-mantine-color-scheme='dark']) .button-disabled-with-bg {
	&:disabled,
	&[data-disabled] {
		background-color: rgb(0 0 0 / 7.5%);
	}
}

.blink {
	animation: blink-animation .5s ease infinite;
}

@keyframes blink-animation {
	from {
		color: red;
	}

	to {
		color: white;
	}
}
