/* stylelint-disable selector-class-pattern -- mantine class naming convention is against */

.mantine-Modal-inner {
	left: 0;
}

:where([data-mantine-color-scheme='dark']) .mantine-Accordion-item,
.mantine-Accordion-item {
	background-color: var(--item-filled-color) !important;
	box-shadow: var(--mantine-shadow-sm);
	border: calc(0.0625rem * var(--mantine-scale)) solid;
	border-radius: var(--accordion-radius);
	border-color: transparent;
}

:where([data-active='true']).mantine-Accordion-item {
	border-color: transparent !important;
}

:where([data-mantine-color-scheme='light']) .mantine-Accordion-item {
	background-color: var(--mantine-color-white) !important;
}

:where([data-mantine-color-scheme="dark"]) .mantine-Checkbox-input:disabled {
	border-color: var(--mantine-color-dark-4);
}

.mantine-Card-root.transparent {
	background-color: transparent;
}

:where([data-mantine-color-scheme='dark']) * {
	--mantine-color-body: var(--mantine-color-dark-8);
}

:where([data-mantine-color-scheme='light']) * {
	--mantine-color-body: #f9f9f9;
}

.hover-card-popup {
	background-color: var(--mantine-color-dark-7);
	box-shadow: var(--mantine-shadow-sm);
}

:where([data-mantine-color-scheme='light']) .hover-card-popup {
	background-color: var(--mantine-color-white);
}
